<div class='imgcontainer'>
  {{#if this.image_url}}
    <img src='{{this.image_url}}' alt='' srcset='' />
  {{else}}
    <img src='/images/noimage.png' alt='' srcset='' />
  {{/if}}
</div>
<div class='beerdataparcial'>
  <h3>
    <a href="/beers/{{this.id}}">{{this.name}}</a>
  </h3>
  <h4> {{this.description}}</h4>
  <h5> {{this.tagline}}</h5>
</div>